{% extends "layout.html" %}

{% block body %}
<div class="row  border-bottom white-bg dashboard-header">

                    <div class="col-sm-12">
                        <h2>Bienvenue {{currentuser.user.username}}</h2>
                    
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-3 card_default">
                            <a href="/lesoffres/">
                                   <div class="card_panel card_blue">
                                       <i class="fa	fa-flask">   </i> <br>
                                       <span> Les opportunités  </span><br>
                                       <span> {{countoffre}}  </span>
                                   </div>
                            </a>
                        </div>
                        
                        <div class="col-sm-3 card_default">
                            <a href="/listentreprise/">
                                  <div class="card_panel card_vert">
                                    <i class="fa fa-database">  </i> <br>
                                    <span> Les entreprises </span><br>
                                    <span> {{countentreprise}}  </span>
                                  </div>
                            </a>
                        </div>
                        
                         <div class="col-sm-3 card_default">
                          <a href="/listexperts/">
                              <div class="card_panel card_rouge">
                                <i class="fa fa-group">  </i> <br>
                                <span> Les experts </span><br>
                                <span> {{countexpert}}  </span>
                              </div>
                          </a>
                        </div>
                        
                         <div class="col-sm-3 card_default">
                          <a href="/reglages/">
                               <div class="card_panel card_violet" >
                                <i class="fa fa-cog">  </i> <br>
                                <span> Mes reglages </span>
                               </div>
                          </a>
                        </div>
                   </div>

            </div>
            
{% endblock %}

 {% block js %}
 {{block.super}}
  
     <script>
                 
        $('.card_panel').on('mouseover', function(){
           
           $(this).addClass("animated pulse");

        }); 
        
        $('.card_panel').on('mouseout', function(){
           
           $(this).removeClass("animated pulse");

        });       
        
     </script>
     
 {% endblock %}

