{% extends "layout.html" %}

 {% block css %}
 {{ block.super }}
 {% load staticfiles %} 
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}" />  
      <script src="{% static 'ckeditor/ckeditor.js' %}"> </script>   
 {% endblock %}

{% block body %}
<div class="row  border-bottom white-bg dashboard-header">

                <div class="col-sm-3"></div>
                   
                <div class="col-sm-6">
                  <h3>  vos Annonces   
                        <small class="label label-info">{{countoffre}}</small> 
                  </h3>                               
                               
                      
                       <form method="POST" class="modoffre animated fadeInRight" action="/misajouroffre/{{offre.id}}/" >
                               {% csrf_token %}
                              
                                <input type="text" name="reference" class="form-control" value={{offre.reference}} placeholder="Reférence de l'offre" required >
                                <br>
                                 <input type="text" name="intitule" class="form-control" value={{offre.intitule}} placeholder="Intitule de l'offre" required >
                                <br>
                               type de contrat:  <input type="radio" name="typeoffre" value="CDI" required> CDI <input type="radio" name="typeoffre" value="CDD" required> CDD
                                <br>
                                  <input type="text" name="secteuractivite" value={{offre.secteuractivite}} class="form-control" placeholder="Le secteur d'activité" required> <br>
                               <input type="text" name="datedebut" value={{offre.datedebut}} class="form-control dp1" placeholder="date de début de l'offre" required> 
                                <input type="text" name="datefin" value={{offre.datefin}} class="form-control dp1" placeholder="date de fin de l'offre" required> 
                               <br>
                                <input type="text" name="salairemin" value={{offre.salairemin}} class="form-control" placeholder="Salaire minimum" required>
                                 <input type="text" name="salairemax" value={{offre.salairemax}} class="form-control" placeholder="Salaire maximum" required>
                                <br>
                                 <input type="text" name="region" value={{offre.region}} class="form-control" placeholder="La région" required>
                                 <input type="text" name="ville" value={{offre.ville}} class="form-control" placeholder="Lieu de prise de fonction" required> 
                                 <br>
                                <input type="email" name="contactoffre" value={{offre.contactoffre}} class="form-control" placeholder="une adresse email" required> <br>
                        
                                <label for="mission"> Principales responsabilités </label>        
                                <textarea class="form-control" value={{offre.mission}} id="mission" name="mission" required ></textarea>   
                                <br>
                                   
                                <label for="description"> Compétences et qualification requises </label>      
                                <textarea class="form-control" value={{offre.description}} id="description" name="description" required ></textarea>  
                             
                                <script>               
                                    CKEDITOR.replace( 'mission' );
                                    CKEDITOR.replace( 'description' );
                                </script>   
                             
                               <br>
                                <button class="btn btn-primary" type="submit"> valider </button>
                                <button class="btn btn-default rollbackoffre" type="reset"> annuler </button>
                       </form>
                             
              
            </div> 

        <div class="col-sm-3"></div>     
            
{% endblock %}

 {% block js %}
 {{block.super}}
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script> 
    <script src="{% static 'locales/bootstrap-datepicker.fr.min.js' %}"></script> 
    <script src="{% static 'js/calendarform.js' %}"></script> 
     <script src="{% static 'js/animateform.js' %}"></script> 
    
     <script>
                 
        $('.updatentactivite').on('click', function(){
           
            $('.textentactivite').hide();
            $('.profilentactivite').show();

        });        
        
        $('.updatentdescrip').on('click', function(){
           
            $('.textentdescrip').hide();
            $('.profilentdescrip').show();

        });
     </script>
 {% endblock %}

