{% extends "layout.html" %}

 {% block css %}
 {{ block.super }}
 {% load staticfiles %} 
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}" />  
 {% endblock %}
          
{% block body %}
<div class="row  border-bottom white-bg dashboard-header">
                     <div class="col-sm-12"><h3>Renseigner les informations concernant votre profil {{currentuser.user.username}}</h3>  </div>
                    <div class="col-sm-2">                        
                       
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item fist-item">
                                
                                 <img src="http://placehold.it/150x150">
                              
                            </li>
                            <li class="list-group-item">
                               <button class="btn btn-primary full-width"> changer de photo </button>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="col-sm-5">
                       <div class="statistic-box">
                        <h4>
                            {% if currentuser.user.human.nom == '' %}
                                    Qui suis-je?
                            {% else %}
                           Je suis 
                             <span class="update_animwhoiam">
                                   {{currentuser.user.human.civilite}} 
                                   {{currentuser.user.human.nom}}
                                   {{currentuser.user.human.prenom}}
                                    <a href="#" style="font-size:10px;" class="update_whoiam"> 
                                    <i class="fa fa-pencil"> </i>mettre à jour </a> 
                            </span>
                            {% endif %}
                        </h4>
                        
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    {% if currentuser.user.human.nom == '' %}
                                    <form method="post" action="/profil/{{currentuser.user.id}}/">
                                        {% csrf_token %}
                                          <select id="civilite" name="civilite" class="form-control" required>
                                               <option value=""> votre civilite</option>
                                               <option> M.</option>
                                               <option> Mlle.</option>
                                               <option> Mme.</option>
                                          </select>
                                          <br>
                                          <input type="text" placeholder="nom" class="form-control" name="nom" required>
                                          <br>
                                          <input type="text" placeholder="prenom" class="form-control" name="prenom">
                                          <br>
                                          <input type="text" placeholder="date d'anniversaire" required class="form-control dateanniv" name="dateanniv">
                                          <br>
                                          
                                          <label for="signature">Votre signature</label>
                                          <input id="signature" type="text" placeholder="ex: à vaincre sans périple on triomphe sans gloire!"  
                                          class="form-control" name="signature">
                                          <br>
                                          <button class="btn btn-primary"> enregistrer </button>
                                    </form>
                                    
                                    {% else %}
                                       <div style="text-align:left;" class="update_animwhoiam"> 
                                        Mon anniversaire sera le:  {{currentuser.user.human.datenaissance}} <br>  <br>
                                        Mon mémo: <span class="label label-primary">{{currentuser.user.human.signature}}</span>
                                       </div> 
                                        <form method="post" class="modwhoiam animated fadeInRight" style="display:none;" action="/profil/{{currentuser.user.id}}/">
                                        {% csrf_token %}
                                          <select id="civilite" name="civilite" class="form-control" required>
                                               <option value=""> votre civilite</option>
                                               <option> M.</option>
                                               <option> Mlle.</option>
                                               <option> Mme.</option>
                                          </select>
                                          <br>
                                          <input type="text" placeholder="nom" class="form-control" name="nom" value="{{currentuser.user.human.nom}}" required>
                                          <br>
                                          <input type="text" placeholder="prenom" class="form-control" name="prenom" value="{{currentuser.user.human.prenom}}">
                                          <br>
                                          <input type="text" placeholder="date d'anniversaire" required class="form-control dateanniv" name="dateanniv" value="{{currentuser.user.human.datenaissance}}">
                                          <br>
                                          
                                          <label for="signature">Votre signature</label>
                                          <input id="signature" type="text" placeholder="ex: à vaincre sans périple on triomphe sans gloire!" class="form-control" value="{{currentuser.user.human.signature}}" name="signature">
                                          <br>
                                          <button class="btn btn-primary"> enregistrer </button>
                                          <button class="btn btn-default rollbackwhoiam" type="reset"> annuler </button>
                                    </form>   
                                    {%endif%}
                                   
                                </div>
                            </div>
                            <div class="m-t">
                                <small>  
                                {% if currentuser.user.human.nom == '' %}
                                     nous aimerons en savoir plus sur vous.                                    
                                {% endif %}
                                </small>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="statistic-box">
                        <h4>
                          
                                Mes coordonnees 
                              {% if currentuser.user.human.telephone != 0 %}   
                                <a href="#" style="font-size:10px;" class="update_mycords"> 
                                    <i class="fa fa-pencil"> </i>mettre à jour
                                </a>
                              {%endif%}
                        </h4>
                       
                            <div class="row text-center">
                                <div class="col-lg-12">
                                 {% if currentuser.user.human.telephone == 0 %}
                                    <form method="post" action="/profilcords/{{currentuser.user.id}}/"> 
                                           {% csrf_token %}
                                          <input type="text" placeholder="site web (ex: ifgu.auf.org)" class="form-control" name="siteweb">
                                          <br>
                                          <input type="text" placeholder="numero de telephone" class="form-control" name="telephone" required>
                                          <br>
                                          <input type="text" placeholder="votre adresse" class="form-control" name="adresse">
                                          <br>
                                          <input type="text" placeholder="boite postale" class="form-control" name="bp">
                                          <br>
                                           <input type="text" placeholder="ville" class="form-control" name="ville" required>
                                          <br>
                                          <button class="btn btn-primary"> enregistrer </button> <button class="btn btn-primary" type="reset"> Annuler </button>
                                    </form>
                                 {% else %}
                                   <div style="text-align:left;" class="update_mycords">
                                        
                                         <span>                                           
                                            <i class="fa fa-globe" style="color:#1AB394;"> </i>
                                            <span style="padding:1%; font-weight: 600;">Site web:</span> 
                                            <a href="{{currentuser.user.human.siteweb}}" target="_blank">
                                                {{currentuser.user.human.siteweb}}
                                            </a>
                                          </span> <br>
                                          
                                          <span> 
                                            <i class="fa fa-phone" style="color:#1AB394;"> </i>
                                            <span style="padding:1%;font-weight: 600;">Telephone:</span>
                                              {{currentuser.user.human.telephone}} 
                                          </span> <br>
                                          
                                          <span>
                                             <i class="fa fa-map-marker" style="color:#1AB394;"> </i>
                                             <span style="padding:1%; font-weight: 600;"> Mon adresse:</span> 
                                              {{currentuser.user.human.adresse}}/ {{currentuser.user.human.ville}}
                                          </span> <br>
                                          
                                          <span> 
                                              <i class="fa fa-map-signs" style="color:#1AB394;"> </i> 
                                              <span style="padding:1%; font-weight: 600;" >Ma boite postale:</span> 
                                               {{currentuser.user.human.codepostale}} 
                                          </span>
                                          
                                    </div>
                                   
                                         <form method="post" class="modmycord animated fadeInRight" style="display:none;" action="/profilcords/{{currentuser.user.id}}/"> 
                                           {% csrf_token %}
                                          <input type="text" placeholder="site web (ex: ifgu.auf.org)" class="form-control" name="siteweb" value="{{currentuser.user.human.siteweb}}">
                                          <br>
                                          <input type="text" placeholder="numero de telephone" class="form-control" name="telephone" value="{{currentuser.user.human.telephone}}" required>
                                          <br>
                                          <input type="text" placeholder="votre adresse" class="form-control" name="adresse" value="{{currentuser.user.human.adresse}}">
                                          <br>
                                          <input type="text" placeholder="boite postale" class="form-control" name="bp" value="{{currentuser.user.human.codepostale}}">
                                          <br>
                                           <input type="text" placeholder="ville" class="form-control" name="ville" required value="{{currentuser.user.human.ville}}">
                                          <br>
                                          <button class="btn btn-primary"> enregistrer </button>
                                         
                                    </form>
                                                                       
                                 {% endif %}
                                </div>
                            </div>
                            <div class="m-t">
                              {% if currentuser.user.human.telephone == '' %}
                                <small>  veuillez renseignez vos coordonnees actuelles.</small>
                              {% endif %}
                            </div>

                        </div>
                    </div>

            </div>
            
          <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                        <div class="row">
			
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5> Vos competences   </h5> 
                                    <div class="ibox-tools">
                                        <small class="label label-info">{{countcompetence}}</small> 
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                  <div>
                                  
                                  {% if countcompetence == 0 %}
                                     <form action="/profilcompetence/{{currentuser.user.id}}/" method="POST">
                                     {% csrf_token %}
                                          <input type="text" placeholder="titre" class="form-control" name="titre">
                                          <br>
                                          <textarea placeholder="description" class="form-control" name="description"></textarea>
                                           <br>
                                          <button class="btn btn-primary"> enregistrer </button>
                                    </form> 
                                 {% endif %}   
                                   <div style="height:275px;overflow:auto;">
                                   
                                        {% for competence in competenceuser %}
                                          <div class="thecompetence" style="margin-top:2%; padding:2%; border-bottom:1px solid rgba(200, 200, 200, 0.36);">
                                            <span class="label label-primary nomcompetence{{competence.id}}"> {{competence.nom}} </span>
                                             <span class="pull-right competencetool"> 
                                             <a class="glyphicon glyphicon-edit modifcompetence" competenceid="{{competence.id}}" style="color:rgba(200, 200, 200, 1);"></a> 
                                             <a class="glyphicon glyphicon-trash deletecompetence" competenceid="{{competence.id}}" style="color:rgba(200, 200, 200, 1);"></a> </span>
                                            <br>
                                            <span class="descripcompetence{{competence.id}}"> {{competence.description}} </span>
                                           
                                          </div>
                                         {% empty %}
                                          <small>Aucun compétence renseigné pour l'instant</small>
                                         
                                        {% endfor %}
                                        
                                          <form action="/modprofilcompetence/{{currentuser.user.id}}/" class="modcompetence animated fadeInRight" method="POST" style="display:none;">
                                          {% csrf_token %}
                                          <input type="text" placeholder="titre" class="form-control modfieldnomcompetence" name="titre">
                                          <br>
                                          <textarea placeholder="description" rows="5" class="form-control  modfieldescripcompetence" name="description"></textarea>
                                          <input type="hidden" value="" name="idcompetence">
                                         
                                          <button class="btn btn-primary"> enregistrer </button>
                                          <button class="btn btn-default rollbackcompetence" type="reset"> Annuler </button>
                                    </form> 
                                     <div>
                                        <form action="/delprofilcompetence/{{currentuser.user.id}}/" class="delcompetence animated fadeInRight" method="POST" style="display:none;">
                                            {% csrf_token %}  
                                            <labe>Voulez-vous vraiment supprimer cette compétence</label>
                                            <input type="hidden" name="idcompetencetodel"><br> 
                                            <button class="btn btn-danger" type="submit"> Oui  </button>   
                                            <button class="btn btn-default rollbackcompetence" type="reset"> Non </button>
                                        </form> 
                                     </div>
                                    
                                        
                                  </div> 
                                                                       
                                  </div>
                               </div>
                             </div>
                           </div>
                           
			   
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Missions effectuées</h5> 
                                    <div class="ibox-tools">
                                        <small class="label label-info">{{countmission}}</small> 
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                     <div>
                                       {% if countmission == 0 %}
                                        <form action="/profilmission/{{currentuser.user.id}}/" method="POST">
                                        {% csrf_token %}
                                              <input type="text" placeholder="date de début" class="form-control dp1" name="datedebut" required>
                                              <br>
                                              <input type="text" placeholder="date de fin" class="form-control dp1" name="datefin" required>
                                              <br>
                                              <input type="text" placeholder="titre de la mission" class="form-control" name="titre" required>                                            
                                              <br>
                                              <input type="text" placeholder="poste occupé" class="form-control" name="fonction" required>
                                              <br>
                                              <input type="text" placeholder="entreprise" class="form-control" name="entreprise" required>
                                              <br>
                                              <textarea placeholder="description de la mission" class="form-control" name="description"></textarea>
                                              <br>
                                               <textarea placeholder="compétences utilisées pour cette mission" class="form-control" name="competence" required></textarea>
                                              <br>
                                              <button class="btn btn-primary" type="submit"> Enregistrer </button>
                                              <button class="btn btn-default" type="reset"> Annuler </button>
                                        </form>   
                                       {% endif %} 
                                         {% for mission in missionuser %}
                                            <div style="margin-top:2%;" class="themission">
                                              <span class=" titre{{mission.id}}" style="font-weight:600; font-size:16px;">{{mission.titre}}</span><br>
                                              <span class="pull-right competencetool"> 
                                                 <a class="glyphicon glyphicon-edit modifmission" missionid="{{mission.id}}" style="color:rgba(200, 200, 200, 1);" >
                                                 </a> 
                                                 <a class="glyphicon glyphicon-trash deletemission" missionid="{{mission.id}}" style="color:rgba(200, 200, 200, 1);">
                                                 </a> 
                                              </span>
                                             
                                                du <span class="label datedebut{{mission.id}}">{{mission.datedebut}}</span>
                                                   
                                                au <span class="label datefin{{mission.id}}">{{mission.datefin}}</span>
                                                   <br><br>
                                                   
                                              <span style="padding:1%; font-weight:600;">Entreprise:</span> 
                                                <span class=entreprise{{mission.id}}> {{mission.entreprise}}</span> <br>
                                             
                                              <span style="padding:1%; font-weight:600;">Votre fonction:</span>
                                                <span class="fonction{{mission.id}}">{{mission.fonction}}</span> <br>
                                              
                                              <span style="padding:1%; font-weight:600;">
                                                Compétence utilisées:
                                              </span>                                              
                                              <span class="competence{{mission.id}}">{{mission.competenceutilisee}}</span>
                                              <br>
                                              
                                              <span style="padding:1%; font-weight:600;">                                               
                                                 Description de la mission:
                                              </span>
                                              <span class="description{{mission.id}}">{{mission.description}}</span>                                              
                                              <br>
                                              
                                            </div>
                                         {% empty %}
                                          <small>Aucune mission renseigné pour l'instant</small>                                         
                                        {% endfor %}
                                        
                                          <form action="/modprofilmission/{{currentuser.user.id}}/" method="POST" class="modmission animated fadeInRight" method="POST" style="display:none;" >
                                        {% csrf_token %}
                                          <input type="text" placeholder="date de début" class="form-control dp1 moddatedebut" name="datedebut" required>
                                              <br>
                                              <input type="text" placeholder="date de fin" class="form-control dp1 moddatefin" name="datefin" required>
                                              <br>
                                              <input type="text" placeholder="titre de la mission" class="form-control modtitre" name="titre" required>                                            
                                              <br>
                                              <input type="text" placeholder="poste occupé" class="form-control modfonction" name="fonction" required>
                                              <br>
                                              <input type="text" placeholder="entreprise" class="form-control modentreprise" name="entreprise" required>
                                              <input type="hidden" class="form-control idthismission" name="idthismission">
                                              <br>
                                              <textarea placeholder="description de la mission" class="form-control moddescription" name="description"></textarea>
                                              <br>
                                               <textarea placeholder="compétences utilisées pour cette mission" class="form-control modcompetence" name="competence" required></textarea>
                                              <br>
                                              <button class="btn btn-primary" type="submit"> Enregistrer </button>
                                              <button class="btn btn-default rollbackmission" type="reset"> Annuler </button>
                                        </form>
                                        
                                         <form action="/delprofilmission/{{currentuser.user.id}}/" class="delmission animated fadeInRight" method="POST" style="display:none;">
                                            {% csrf_token %}  
                                            <labe>Voulez-vous vraiment supprimer cette compétence</label>
                                            <input type="hidden" name="idmissiontodel"><br> 
                                            <button class="btn btn-danger" type="submit"> Oui  </button>   
                                            <button class="btn btn-default rollbackmission" type="reset"> Non </button>
                                        </form> 
                                           
                                      </div>
                               </div>
                            </div>
                        </div>
                          
			  
			
			</div>
			
			     <div class="row">
			
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Formations</h5> 
                                    <div class="ibox-tools">
                                        <small class="label label-info">{{countformation}}</small> 
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                      
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="theformation">
                                     {% if countformation == 0 %}
                                      <form action="/profilformation/{{currentuser.user.id}}/" method="POST">
                                       {% csrf_token %} 
                                          <input type="text" placeholder="date de début" class="form-control dp1 mod" name="datefin" required>
                                          <br>
                                          <input type="text" placeholder="date de fin" class="form-control dp1" name="datedebut" required>
                                          <br>
                                          <input type="text" placeholder="libellé de la formation" class="form-control" name="titre" required>
                                           <br>
                                             <input type="text" placeholder="le diplome obtenu" class="form-control" name="diplome" required>
                                            <br>
                                            <input type="text" placeholder="dans quelle école?" class="form-control" name="ecole" required>
                                            <br>
                                            <input type="text" placeholder="le lieu de la formation" class="form-control" name="lieu" required>
                                            <br>
                                         <textarea placeholder="description" class="form-control" name="description"></textarea>
                                           <br>
                                         <button class="btn btn-primary" type="submit"> Enregistrer </button>
                                         <button class="btn btn-default" type="reset"> Annuler </button>
                                       </form>
                                        
                                     {% endif %}
                                       
                                       
                                        {% for formation in formationuser %}
                                            <div style="margin-top:2%;" class="theformation">
                                              <span style="font-weight:600; font-size:16px;" class="formationtitre{{formation.id}}">{{formation.intitule}}</span><br>
                                                 <span class="pull-right competencetool"> 
                                                 <a class="glyphicon glyphicon-edit modiformation" formationid="{{formation.id}}" style="color:rgba(200, 200, 200, 1);" >
                                                 </a> 
                                                 <a class="glyphicon glyphicon-trash deleteformation" formationid="{{formation.id}}" style="color:rgba(200, 200, 200, 1);">
                                                 </a>
                                                  
                                              </span>
                                              
                                                du <span class="label lable-primary formationdatedebut{{formation.id}}">{{formation.datedebut}}</span>
                                                au <span class="label lable-primary formationdatefin{{formation.id}}">{{formation.datefin}}</span><br><br>
                                               
                                                  <span style="padding:1%; font-weight: 600;">Diplome obtenu:</span> 
                                                  <span class="formationdiplome{{formation.id}}">{{formation.diplome}}</span> <br>
                                                  
                                                  <span style="padding:1%; font-weight: 600;">Ecole:</span> 
                                                  <span class="formationecole{{formation.id}}">{{formation.ecole}}</span> <br>
                                                  
                                                  <span style="padding:1%; font-weight: 600;">Lieu:</span>
                                                  <span class="formationlieu{{formation.id}}">{{formation.lieu}}</span> <br>
                                                  
                                                 <span style="padding:1%; font-weight: 600;">Description de la formation:</span>
                                                  <span class="formationdescription{{formation.id}}">{{formation.description}}</span> <br>
                                              
                                            </div>
                                         {% empty %}
                                          <small>Aucune formation renseignée pour l'instant</small>                                         
                                        {% endfor %}
                                        </div> 
                                 
                                       <form action="/modprofilformation/{{currentuser.user.id}}/" method="POST" class="modformation animated fadeInRight" style="display:none;" >
                                       {% csrf_token %} 
                                          <input type="text" placeholder="date de début" class="form-control dp1 modformationdatedebut" name="datedebut" required>
                                          <br>
                                          <input type="text" placeholder="date de fin" class="form-control dp1 modformationdatefin" name="datefin" required>
                                          <br>
                                          <input type="text" placeholder="libellé de la formation" class="form-control modformationtitre" name="titre" required>
                                           <br>
                                             <input type="text" placeholder="le diplome obtenu" class="form-control modformationdiplome" name="diplome" required>
                                            <br>
                                            <input type="text" placeholder="dans quelle école?" class="form-control modformationecole" name="ecole" required>
                                            <br>
                                            <input type="text" placeholder="le lieu de la formation" class="form-control modformationlieu" name="lieu" required>
                                              <input type="hidden"  class="idthisformation" name="idthisformation">
                                            <br>
                                         <textarea placeholder="description" class="form-control modformationdescription" name="description"></textarea>
                                           <br>
                                         <button class="btn btn-primary" type="submit"> Enregistrer </button>
                                         <button class="btn btn-default rollbackformation" type="reset"> Annuler </button>
                                       </form>
                                        
                                         <form action="/delprofilformation/{{currentuser.user.id}}/" class="delformation animated fadeInRight" method="POST" style="display:none;">
                                            {% csrf_token %}  
                                            <labe>Voulez-vous vraiment supprimer cette formation</label>
                                            <input type="hidden" name="idformationtodel"><br> 
                                            <button class="btn btn-danger" type="submit"> Oui  </button>   
                                            <button class="btn btn-default rollbackformation" type="reset"> Non </button>
                                        </form> 
                                       
                                   
                                    </div>
                                </div>
                              </div>
                           
			   
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Langue</h5>
                                    <div class="ibox-tools">
                                        <small class="label label-info">{{countlangue}}</small> 
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                       
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="thelangue">
                                        {% if countlangue == 0 %}
                                         <form method="POST" action="/profilangue/{{currentuser.user.id}}/">
                                         {% csrf_token %}
                                              <input type="text" placeholder="nom de la langue" class="form-control" name="nom" required>
                                              <br>
                                              <select type="text" class="form-control" name="niveau" required>
                                                <option></option>
                                                <option>debutant</option>
                                                <option>intermédiaire</option>
                                                <option>Courant</option>
                                                <option>professionnel</option>
                                              </select>
                                               <br>
                                              <button class="btn btn-primary"> enregistrer </button>
                                               <button class="btn btn-default rollbacklangue"> annuler </button>
                                          </form>
                                         {% endif %} 
                                         
                                         {% for langue in langueuser%}
                                            <span class="pull-right competencetool"> 
                                                 <a class="glyphicon glyphicon-edit modiflangue" langueid="{{langue.id}}" style="color:rgba(200, 200, 200, 1);" >
                                                 </a> 
                                                 <a class="glyphicon glyphicon-trash deletelangue" langueid="{{langue.id}}" style="color:rgba(200, 200, 200, 1);">
                                                 </a>                                                  
                                            </span>
                                            <span class="nomlangue{{langue.id}}">{{langue.nom}}</span> -
                                            </span class="niveaulangue{{langue.id}}">{{langue.niveau}}</span>
                                          {% empty %}
                                           <small>Aucune langue renseigné jusqu'ici</small>
                                          {% endfor %}
                                          </div>
                                           
                                           <form method="POST" action="/modprofilangue/{{currentuser.user.id}}/" class="modlangue animated fadeInRight" method="POST" style="display:none;" >
                                           {% csrf_token %}
                                              <input type="text" placeholder="nom de la langue" class="form-control modlanguenom" name="nom" required>  
                                              <br>
                                             
                                              <select type="text" class="form-control" name="niveau" required>
                                            
                                                <option></option>
                                                <option>debutant</option>
                                                <option>intermédiaire</option>
                                                <option>Courant</option>
                                                <option>professionnel</option>
                                              </select>
                                              <input type="hidden" class="form-control idthislangue" name="idthislangue">
                                               <br>
                                               <button class="btn btn-primary"> enregistrer </button>
                                               <button class="btn btn-default rollbacklangue"> annuler </button>
                                          </form>
                                          
                                          <form action="/delprofilangue/{{currentuser.user.id}}/" class="delangue animated fadeInRight" method="POST" style="display:none;">
                                            {% csrf_token %}  
                                            <labe>Voulez-vous vraiment supprimer cette langue</label>
                                            <input type="hidden" name="idlanguetodel"><br> 
                                            <button class="btn btn-danger" type="submit"> Oui  </button>   
                                            <button class="btn btn-default rollbacklangue" type="reset"> Non </button>
                                        </form> 
                                    
                                </div>
                           </div>
                       </div>
                          
			  
			
			
			<div class="col-lg-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Vos loisirs</h5> 
                                    <div class="ibox-tools">
                                        <small class="label label-info">{{countloisir}}</small> 
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                       
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="theloisir">
                                        {% if countloisir == 0 %}
                                         <form method="POST" action="/profiloisir/{{currentuser.user.id}}/">
                                         {% csrf_token %}
                                              <input type="text" placeholder="vos loisirs" class="form-control" name="nom" required>
                                              <br>
                                              <textarea placeholder="description" class="form-control" name="description"></textarea>
                                              <br>
                                              <button class="btn btn-primary"> enregistrer </button>
                                              <button class="btn btn-default rollbackloisir "> annuler </button>
                                         </form>
                                        {% endif %} 
                                         {% for loisir in loisiruser %}
                                            <span class="pull-right competencetool"> 
                                                 <a class="glyphicon glyphicon-edit modifloisir" loisirid="{{loisir.id}}" style="color:rgba(200, 200, 200, 1);" >
                                                 </a> 
                                                 <a class="glyphicon glyphicon-trash deleteloisir" loisirid="{{loisir.id}}" style="color:rgba(200, 200, 200, 1);">
                                                 </a>                                                  
                                            </span>
                                              
                                            <span class="nomloisir{{loisir.id}}">{{loisir.titre}}</span> <br>
                                            <span class="descriptionloisir{{loisir.id}}">{{loisir.description}}</span>
                                           {%empty%}
                                          <small> Aucun loisir renseigné jusqu'ici </small>
                                         {% endfor %}
                                    </div>
                                        
                                         <form method="POST" action="/modprofiloisir/{{currentuser.user.id}}/" class="modloisir animated fadeInRight" method="POST" style="display:none;">
                                         {% csrf_token %}
                                              <input type="text" placeholder="vos loisirs" class="form-control modloisirnom" name="nom" required>
                                              <br>
                                              <textarea placeholder="description" class="form-control modloisirdescription" name="description"></textarea>
                                              <input type="hidden" class="form-control idthisloisir" name="idthisloisir">
                                              <br>
                                              <button class="btn btn-primary"> enregistrer </button>
                                              <button class="btn btn-default rollbackloisir "> annuler </button>
                                         </form>
                                        
                                         <form action="/delprofiloisir/{{currentuser.user.id}}/" class="deloisir animated fadeInRight" method="POST" style="display:none;">
                                            {% csrf_token %}  
                                            <labe>Voulez-vous vraiment supprimer ce loisir</label>
                                            <input type="hidden" name="idloisirtodel"><br> 
                                            <button class="btn btn-danger" type="submit"> Oui </button>   
                                            <button class="btn btn-default rollbackloisir" type="reset"> Non </button>
                                        </form> 
                                </div>
                             </div>
                          </div>
                          
                          			
			</div>	
                        </div>
                     </div>
                </div>
{% endblock %}

 {% block js %}
 {{block.super}}
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script> 
    <script src="{% static 'locales/bootstrap-datepicker.fr.min.js' %}"></script> 
    <script src="{% static 'js/animateform.js' %}"></script> 
    <script src="{% static 'js/calendarform.js' %}"></script> 
    <script src="{% static 'js/modcompetence.js' %}"></script> 
 {% endblock %}

